/* Work Sans Font From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* Most Common Style */
/* -====================- */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container{
    max-width: 1140px;
    margin: auto;
}
/* ======================= */
/* -----Header Style---------- */
/* ======================= */
.header{
    background: rgba(255, 144, 14, 0.10);
}
.logo{
    color: #131313;
    font-size: 1.563rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.menu a{
    text-decoration: none;
}
.menu ul{
    display: flex;
    list-style: none;
    margin-top: 5px;
    gap: 50px;
    color: var(--dark-02, #424242);
    font-size: 1.125rem;
    font-weight: 500;
}