/* Work Sans Font From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* Most Common Styles */
/* -====================- */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container{
    max-width: 1140px;
    margin: auto;
}

/* button styles */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 18px 24px;
    cursor: pointer;
}
/* ======================= */
/* -----Header Styles---------- */
/* ======================= */
.header{
    background: rgba(255, 144, 14, 0.10);
}
.logo{
    color: #131313;
    font-size: 1.563rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.menu a{
    text-decoration: none;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 50px;
    color: var(--dark-02, #424242);
    font-size: 1.125rem;
    font-weight: 500;
}
/* ======================= */
/* -----Banner Styles---------- */
/* ======================= */
.banner-content{
    width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 100px;
}
.banner-description{
    color: #727272;
    line-height: 26px;
    margin: 20px 0px;
}

.banner  img {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
}









/* ---------Responsive Media Quary---------  */
/* Mobile devices */
@media screen and (max-width: 570px) {
    /* banner style */
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .banner-content{
        width: 90%;
    }
    .banner-title{
        font-size: 3rem;
        margin-top: 2rem;
    }

}
/* Medium Devices */
@media screen and (min-width: 570px) and (max-width: 960px) {
    .banner-content{
        width: 90%;
    }
}
/* Large Screen Devices */
@media screen and (max-width: 1140px) {
    .banner-content{
        width: 100%;
    }
}